.App {
  text-align: center;
}
* {
  text-decoration: none;
  color: orange;
  font-family: "Raleway", sans-serif;
  
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #001337 0%, #0d6858 100%);
  /* overflow-x: hidden; */
  overflow: hidden;
  overflow-y: auto;
}

p {
  font-size: 16px;
}

.daily-list-item {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  /* grid-row: 1; */
  align-items: center;
  margin: 0px;
}

.daily-img {
  width: 35px;
  margin: 0px;
  padding: 0px;
}

button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
  outline: none;
}

.hour-date {
  font-size: 10px;
}
.hour-temp {
  font-size: 10px;
}
.hour {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
}
.hourly-img {
  width: 25px;
  margin: 0px;
  padding: 0px;
}

.hourlyContainer {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 10px;
  margin: 0px;
  padding: 0px;
  max-width: 100vw;
  overflow-x: scroll;
}
.container {
  max-width: 600px;
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  padding-bottom: 20px;
  min-height: 100vh;
  overflow-x: hidden;
}

.currentlyImgWrapper {
  display: flex;
}
.currently {
  display: flex;
  border-radius: 15px;
  border: solid 1px orange;
  margin-bottom: 5px;
  padding-bottom: 10px;
  justify-content: space-around;
  padding: 25px;
  align-items: center;
  margin-top: 5px;
}
.currentlyImg {
  width: 80px;
}
.currentlyTemp {
  padding: 0px;
  margin: 0px;
  font-size: 100px;
}
.currentlyTemp>p{
font-size: 20px;
}
.currently>p {
  font-size: 20px;
}

.currentlyTempWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.today-low-high {
display: flex;
}

.summary {
  font-size: 20px;
}

.location {
  width: 15px;
}

.header {
  width: 100vw;
  overflow-x: hidden;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid 1px orange;
}

.header-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.ricardo {
  margin: 2px;
  font-size: 12px;
}
.dark-sky {
  margin: 2px;
  font-size: 10px;
}

.daily-container {
  /* margin-top: 10px; */
}

.daily-temp {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.slash {
  opacity: 0.75;
}

.min-temp {
  opacity: 0.75;
}

.App-logo {
  height: 40vmin;
}

hr {
  margin: 0px;
  height: 0px;
  border: none;
  border-top: orange solid 1px;
}

img {
  width: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.comfort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wind {
  display: flex;
  justify-content: space-between;
}

.lunar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moom {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}


.App-link {
  color: #09d3ac;
}

.click-the-sun {
  font-size: 30px;
}

.sunButton {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none !important;
  /* width: 300px; */
  -webkit-transition-duration: 4s linear infinite;
  -moz-transition-duration: 4s linear infinite;
  -o-transition-duration: 4s linear infinite;
  transition-duration: 4s linear infinite;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}
.location-wrapper {
  margin: 5px;
}

.static-sunny {
  margin-top: 65px;
  margin-bottom: 35px;
  width: 140px;
}

.sunny {
  margin-top: 65px;
  margin-bottom: 35px;
  width: 140px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.sunButton:hover {
  cursor: pointer;
}

@-webkit-keyframes sunButton {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: sunButton 2s linear infinite;
}

.footer {
  height: 30px;
  background-color: rgb(11, 20, 61);
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: solid 1px orange;
}

.footer > a {
  /* color: darkblue; */
  font-size: 15px;
}

/* media queries */

/* laptop/desktop */
@media only screen and (min-width: 600px) {
  body {
    margin: auto;
    text-align: center;
    background: none;
    background: linear-gradient(180deg, #001337 0%, #0d6858 100%);
  }

  .container {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    border: solid 1px orange;
    border-radius: 15px;
    padding: 15px;
    background: linear-gradient(180deg, #001337 0%, #0d6858 100%);
  }
  .header {
    background: rgb(3, 3, 31);
  }
  .currently {
    margin-left: 25px;
    margin-right: 25px;
  }
}
